.patients-container {
  padding: 5px 5px;
  overflow: hidden;
  align-items: center;
  max-width: 750px;
  width: 100%;
}

.patient-card {
  background-color: #f8f5f5;
  width: 100%;
}

.patient-card__body-details._warning-message  {
  background-color: #ffb22b;
}
dl {
  margin:0;
}
dt {
  float: left;
  padding-right: 5px;
  min-height: 1px;
  text-align: start;
  width: 50%;
}
dd {
  width: 100%;
  position: relative;
  top: -1px;
  text-align: end;
  margin-left: 0;
}

mat-checkbox.mobile-card-checkbox .mat-ripple-element {
  background-color: transparent !important;
}
.mobile-card-toggle-btn {
  pointer-events: auto;
}
.mobile-card .mat-expansion-panel {
  background-color:#f8f8f8;
}

.mobile-card .mat-expansion-panel-body {
  padding: 0;
}

.mobile-card .mat-expansion-panel-header {
  padding-left: 10px;
}

.mobile-card .mat-expansion-panel-header .mat-content {
  flex-direction: column;
}
.patient-card__body-details-title mat-card-title {
  padding: 0 24px;
}

.mobile-card__warning-message {
  font-size: 16px;
}
.mobile-card__warning-message-btn.mat-raised-button {
  line-height: 1.8;
  font-size: 12px;
}
