<div class="patients-container" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
  <div class="patient-card" fxLayout="column" fxLayoutGap="5px" *ngFor="let item of rowData">
    <mat-card class="patient-card__header" fxLayout="column">
      <mat-card-title>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="60" fxLayoutGap="5px">
            <mat-checkbox color="primary" (change)="checkStatusCheckBox($event)"></mat-checkbox>
            <span class="label" [ngClass]="tableData?.data?.status?.status == 4 ? 'label-success': 'label-info'">{{getStatusText(item?.status?.status || 1)}}</span>
          </div>
          <div fxFlex="40" fxLayoutAlign="end center">
            <button mat-icon-button
                    type="button"
                    color="primary"
                    (click)="item.show = !item.show">
              <mat-icon *ngIf="item.show" class="actions-btn-icon">expand_less</mat-icon>
              <mat-icon *ngIf="!item.show" class="actions-btn-icon">expand_more</mat-icon>
            </button>
            <button color="primary"
                    (click)="openChat.emit(item)"
                    mat-icon-button
                    type="button"
                    [title]="'Notes'">
              <mat-icon class="actions-btn-icon">chat</mat-icon>
            </button>
            <button mat-icon-button
                    color="primary"
                    type="button"
                    (click)="edit.emit(item)"
                    title="Edit">
              <mat-icon class="actions-btn-icon">mode_edit</mat-icon>
            </button>
          </div>
        </div>

      </mat-card-title>
      <mat-card-content>
        <dl fxFlex="100%">
          <dt>Patient</dt>
          <dd>{{item.lastName}} {{item.firstName}}</dd>
          <dt>Hospice</dt>
          <dd></dd>
          <dt>Total</dt>
          <dd class="_total">${{getTotal(item) | number:'1.2-2'}}</dd>
        </dl>
      </mat-card-content>
    </mat-card>
    <ng-container *ngIf="item.show">
      <div class="patient-card__body"
           fxLayout="column"
           fxLayoutGap="10px"
           [@slideToggle]
           *ngFor="let info of item.serviceInfos">
        <mat-card class="patient-card__body-details _warning-message"
                  [class._warning-message]="item.isPrivatePay || item.isMedPendingwarningType"
                  fxLayout="column">
          <mat-card-title class="patient-card__body-details-title"
                          fxLayout="column"
                          *ngIf="item.isPrivatePay || item.isMedPendingwarningType">
            <span>
              Med pending patient is not eligibl for payment. Please provide proof of caverage
              <button mat-raised-button color="warn" (click)="uploadInfo.emit(serviceInfo)">Upload</button>
            </span>
          </mat-card-title>
          <dl>
            <dt>Status</dt>
            <dd></dd>

            <dt>Service Dates</dt>
            <dd>
              <div [ngClass]="{'crossed': info.isDeleted, 'bolder': info.isAdded}">
                {{info.startDate | date:'MM/dd/yy'}}-{{info.endDate | date:'MM/dd/yy'}}
              </div>
            </dd>

            <dt>DOS</dt>
            <dd>{{getDateDiff(info)}}</dd>

            <dt>Daily Rate</dt>
            <dd>
              <div>
                <span *ngIf="info.snfDailyRate != null && info.snfDailyRate != info.dailyRate" class="bolder p-r-10">${{info.snfDailyRate}}</span>
                <span *ngIf="info.dailyRate != null" [ngClass]="{'crossed': info.snfDailyRate != null && info.snfDailyRate != info.dailyRate}">${{info.dailyRate}}</span>
              </div>
            </dd>

            <dt>Gross Payment</dt>
            <dd>${{getDateDiff(info)*(info.snfDailyRate||info.dailyRate||0) | number:'1.2-2'}}</dd>

            <dt>Liability</dt>
            <dd>
              <div>
                <span *ngIf="info.snfLiability != null && info.snfLiability!=info.liability " class="bolder p-r-10">${{info.snfLiability}}</span>
                <span *ngIf="info.liability != null" [ngClass]="{'crossed': info.snfLiability != null && info.snfLiability!=info.liability }">${{info.liability}}</span>
              </div>
            </dd>

            <dt>Net Payment</dt>
            <dd>${{getDateDiff(info)*(info.snfDailyRate||info.dailyRate||0) - info.snfLiability||info.liability||0 | number:'1.2-2'}}</dd>
          </dl>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
