<mat-accordion [multi]="true" class="mobile-card">
  <mat-expansion-panel *ngFor="let item of rowData" #panel1 [hideToggle]="true">
    <mat-expansion-panel-header [collapsedHeight]="'100%'"
                                [expandedHeight]="'100%'">
      <mat-panel-title>
        <div fxLayoutAlign="space-between center" fxFlex="100">
          <div>
            <mat-checkbox class="mobile-card-checkbox" color="primary" style="margin-right: 10px; pointer-events: auto" (click)="$event.stopPropagation();" (change)="checkStatusCheckBox($event,item)"></mat-checkbox>
            <span class="label" [ngClass]="tableData?.data?.status?.status == 4 ? 'label-success': 'label-info'">{{getStatusText(item?.status?.status || 1)}}</span>
          </div>
          <div>
            <button mat-icon-button
                    type="button"
                    color="primary"
                    class="mobile-card-toggle-btn"
                    (click)="$event.stopPropagation(); panel1.toggle()">
              <mat-icon *ngIf="item.show" class="actions-btn-icon">expand_less</mat-icon>
              <mat-icon *ngIf="!item.show" class="actions-btn-icon">expand_more</mat-icon>
            </button>
            <button color="primary"
                    style="pointer-events: auto"
                    (click)="$event.stopPropagation(); openChat.emit(item)"
                    mat-icon-button
                    type="button"
                    [title]="'Notes'">
              <mat-icon class="actions-btn-icon">chat</mat-icon>
            </button>
            <button mat-icon-button
                    color="primary"
                    style="pointer-events: auto"
                    type="button"
                    (click)="$event.stopPropagation(); edit.emit(item)"
                    title="Edit">
              <mat-icon class="actions-btn-icon">mode_edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        <dl fxFlex="100%" fxLayoutGap="7px">
          <dt>Patient</dt>
          <dd>{{item.lastName}} {{item.firstName}}</dd>
          <dt>Hospice</dt>
          <dd>{{item.snfHistory[0].snfName}}</dd>
          <dt>Total</dt>
          <dd class="_total">${{getTotal(item) | number:'1.2-2'}}</dd>
        </dl>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="patient-card__body"
         fxLayout="column"
         *ngFor="let info of item.serviceInfos">
      <mat-card class="patient-card__body-details"
                [class._warning-message]="item.isPrivatePay || item.isMedPending"
                fxLayout="column">
        <mat-card-title class="patient-card__body-details-title"
                        fxLayout="column"
                        *ngIf="item.isPrivatePay || item.isMedPending">
          <span class="mobile-card__warning-message">
            Med pending patient is not eligibl for payment. Please provide proof of caverage
            <button class=mobile-card__warning-message-btn mat-raised-button color="warn" (click)="uploadInfo.emit(item)">Upload</button>
          </span>
        </mat-card-title>
        <mat-card-content>
          <dl>
            <dt>Service Dates</dt>
            <dd>
              <div [ngClass]="{'crossed': info.isDeleted, 'bolder': info.isAdded}">
                {{info.startDate | date:'MM/dd/yy'}}-{{info.endDate | date:'MM/dd/yy'}}
              </div>
            </dd>
            <dt>DOS</dt>
            <dd>{{getDateDiff(info)}}day(s)</dd>
            <dt>Daily Rate</dt>
            <dd>
              <div>
                <span *ngIf="info.snfDailyRate != null && info.snfDailyRate != info.dailyRate" class="bolder">${{info.snfDailyRate}}</span>
                <span *ngIf="info.dailyRate != null" class="p-l-10" [ngClass]="{'crossed': info.snfDailyRate != null && info.snfDailyRate != info.dailyRate}">${{info.dailyRate}}</span>
                <span>pre day</span>
              </div>
            </dd>
            <dt>Gross Payment</dt>
            <dd>${{getDateDiff(info)*(info.snfDailyRate||info.dailyRate||0) | number:'1.2-2'}}</dd>

            <dt>Liability</dt>
            <dd>
              <div>
                <span *ngIf="info.snfLiability != null && info.snfLiability!=info.liability " class="bolder">(${{info.snfLiability}})</span>
                <span *ngIf="info.liability != null" class="p-l-10" [ngClass]="{'crossed': info.snfLiability != null && info.snfLiability!=info.liability }">(${{info.liability}})</span>
              </div>
            </dd>
            <dt>Net Payment</dt>
            <dd>${{getDateDiff(info)*(info.snfDailyRate||info.dailyRate||0) - info.snfLiability||info.liability||0 | number:'1.2-2'}}</dd>
          </dl>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-expansion-panel>
</mat-accordion>
