<ag-grid-angular
  class="ag-theme-material _custom"
  [context]="{componentParent: this}"
  [rowData]="rowData"
  [deltaRowDataMode]="deltaRowDataMode" 
  [columnDefs]="columnDefs"
  [modules]="modules"
  [rowHeight]="rowHeight"
  [suppressCellSelection]="true"
  [suppressRowClickSelection]="true"
  [rowSelection]="'multiple'"
  [domLayout]="'autoHeight'"
  [getRowNodeId]="getRowNodeId"
  (gridReady)="onGridReady($event)"
  (gridSizeChanged)="updateTableSize()"
  (rowSelected)="patientChecked.emit($event);"
  (selectionChanged)="checkBoxValueChange.emit($event);"
  (cellClicked)="$event['colDef']['colId'] === 'chat' && openDetailsModal($event.data)">
</ag-grid-angular>
