<div (window:resize)="updateWindowWidth()">
  <desktop *ngIf="!showMobile"
            [rowData]="rowData"
            [matTable]="matTable"
            (openChat)="openChat.emit($event)"
            (edit)="edit.emit($event)"
            (uploadInfo)="uploadInfo.emit($event)"
            (checkBoxValueChange)="checkBoxPatientChange.emit($event)"
            (patientChecked)="patientChecked.emit($event)"></desktop>
  <mobile *ngIf="showMobile"
          [rowData]="rowData"
          (openChat)="openChat.emit($event)"
          (edit)="edit.emit($event)"
          (uploadInfo)="uploadInfo.emit($event)"
          (checkBoxValueChange)="checkBoxPatientChange.emit($event)"
          (patientChecked)="patientChecked.emit($event)"></mobile>
</div>
